@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(210, 19%, 19%);
  --dark-blue: hsl(215, 22%, 15%);
  --very-dark-blue: hsl(216, 12%, 8%);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-dark-blue);
  display: grid;
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  padding-inline: 24px;
  place-items: center;
}

.hidden {
  display: none;
}

.container {
  background-color: var(--dark-blue);
  border-radius: 16px;
  margin: 0 auto;
  padding: 24px;
  width: 330px;
}

.container__icon {
  background-color: var(--medium-grey);
  border-radius: 50%;
  display: grid;
  height: 40px;
  place-items: center;
  width: 40px;
}

.container__title {
  color: var(--white);
  margin: 20px 0;
}

.container__description {
  color: var(--light-grey);
  font-weight: 400;
  margin-bottom: 32px;
}

.container__rate {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
}

input[type='radio'] {
  display: none;
}

label {
  background-color: var(--medium-grey);
  border-radius: 50%;
  color: var(--light-grey);
  cursor: pointer;
  display: grid;
  height: 42px;
  place-items: center;
  transition: background-color .5s;
  width: 42px;
}

input:checked+label {
  background-color: var(--light-grey);
  color: var(--white);
}

.container__rate label:hover {
  background-color: var(--orange);
  color: var(--white);
}

.button {
  background-color: var(--orange);
  border: none;
  border-radius: 32px;
  color: var(--white);
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px;
  transition: background-color .5s, color .5s;
  text-transform: uppercase;
  width: 100%;
}

.button:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--orange);
}

.container.second {
  text-align: center;
}

.container__image {
  margin-bottom: 20px;
}

.container__raiting {
  color: var(--orange);
  background-color: var(--medium-grey);
  width: fit-content;
  margin: 0 auto;
  padding: 12px;
  border-radius: 24px;
}

.container.second .container__description {
  font-size: 14px;
}

.footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}